{# Идентификатор форума #}
{% if subforum %}
    {% set forum_id = subforum.id %}
{% else %}
    {% set forum_id = forum.id %}
{% endif %}

{# Просмотр форума #}
{% if atm.checkAccessForum(['view_forums', forum_id]) %}
    {# Форум вверх/вниз #}
    {% if atm.checkAccessForum(['replace_forums',forum_id]) %}
        <a id="fum{{ forum_id }}" class="fps-up" href="{{ atm.www_root | raw }}/{{ module }}/forum_up/{{ forum_id }}" onclick="sendu('fum{{ forum_id }}'); return false;"></a>
        <a id="fdom{{ forum_id }}" class="fps-down" href="{{ atm.www_root | raw }}/{{ module }}/forum_down/{{ forum_id }}" onclick="sendu('fdom{{ forum_id }}'); return false;"></a>
    {% endif %}

    {# Редактирование #}
    {% if atm.checkAccessForum(['edit_forums',forum_id]) %}
        <a class="fps-edit" href="{{ atm.www_root | raw }}/{{ module }}/edit_forum_form/{{ forum_id }}"></a>
    {% endif %}

    {# Удаление #}
    {% if atm.checkAccessForum(['edit_forums',forum_id]) %}
        <a id="fdm{{ forum_id }}" class="fps-delete" href="{{ atm.www_root | raw }}/{{ module }}/delete_forums/{{ forum_id }}" onclick="if (confirm('{{ atm.__('Are you sure?') }}')) {sendu('fdm{{ forum_id }}')}; return false;"></a>
    {% endif %}
{% endif %}
