{{ atm.editor_body | raw }}
<script>
maxAttachedFiles = {{ atm.context.max_attaches }};
</script>
<div class="forumblock">
       <form name="sendForm" id="sendForm" action="{{ atm.context.action }}" method="POST" enctype="multipart/form-data" onsubmit="if (checkForm(this)) {sendu('sendForm')}; return false">       
	        <div class="titleanswer">Форма для ответа</div>
	        <div class="answertextarea"><textarea {{ atm.editor_forum_text | raw }} class="text-area" name="mainText">{{ atm.context.main_text }}</textarea></div>
	        <div class="margin floatfix">
			  <input class="fright" type="submit" name="submitForm" value="Ответить" />
			  {% if atm.checkAccess(['forum','upload_files']) and atm.context.locked_attaches == 0 %}
			  <div id="attachments">Прикрепить файлы:<br/>
			  <input class="attachField" type="file" id="attach1" name="attach1"  onChange="getFile(1)" /><span id="attachMeta1"></span>
			  <input type="button" name="addInput" value="Прикрепить еще файл" onClick="addFileField('attachments');" />
			  </div>
              {% endif %}
			</div>
       </form>
</div>
