{% extends "main.html.twig" %}

{% block content %}

{% if atm.forum.subforums %}
<div class="lineblock">
	  <div class="linetitle">{{ forum.cat_name }}</div>
	  <div class="linehead"><div class="forheadpost"></div></div>
	  {% if atm.forum.subforums %}
	  {% for subforum in atm.forum.subforums %}
	  <div class="linecontent">
	    <div class="forstatus"><span><img class="iconline" src="{{ subforum.icon_url }}" alt=""/></span></div><div class="forname"><div class="mozilacostil">
			<div class="moderline">{% include "forum/moder_panel_forum.html.twig" %}</div>
			<div class="lineinfo"><a class="namefor" href="{{ subforum.forum_url }}"><h2>{{ subforum.title }}</h2></a>
			<div class="fordescription">{{ subforum.description }}</div>
		</div>
		</div></div><div class="forteme">
		{% if subforum.themes %}
		<ul>
			<li>Тем: <strong>{{ subforum.themes }}</strong></li>
			<li>Ответов: <strong>{{ subforum.posts }}</strong></li>
		</ul>
		{% endif %}
		</div><div class="fornewmess">{{ subforum.last_post | raw }}</div>
	  </div>
	  {% endfor %}
	  {% endif %}
</div>
{% endif %}

    {% if atm.add_link %}
	<a href="{{ atm.www_root | raw }}/forum/add_theme_form/{{ forum.id }}" class="newtembutton button">Новая тема</a>
	{% endif %}
	<span class="meta">{{ meta }}</span> 
         {% if atm.pagination %}
	     <div class="paginator">
            <div class="pages">{{ atm.pagination }}</div>
         </div>
		 {% endif %}
	{% if atm.themes %}
	<div class="lineblock">
	  <div class="linetitle"><h1>{{ forum.title }}</h1></div>
	  <div class="linehead order"><div class="forstatus"></div><div class="forname">{{ atm.getOrderLink(['title','Тема']) | raw }}</div><div class="forteme">{{ atm.getOrderLink(['posts','Ответы']) | raw }} / {{ atm.getOrderLink(['views','Просмотры']) | raw }}</div><div class="fornewmess">{{ atm.getOrderLink(['last_post','Обновления']) | raw }}</div></div>
	  {% for theme in atm.themes %}  
	  <div class="linecontent {{ theme.fps_css_class }}"><div class="forstatus"><span>{{ theme.themeicon | raw }}</span></div><div class="forname"><div class="mozilacostil"><div class="moderline">{% include "forum/moder_panel_theme.html.twig" %}</div><div class="lineinfo">{{ theme.importantly }}<a class="namefor" href="{{ theme.theme_url }}"><h2>{{ theme.title }}</h2></a>{{ theme.near_pages }}<div class="fordescription">{{ theme.description }}</div></div></div></div>
	  <div class="forteme">
		<ul>
			<li>Ответов: <strong>{{ theme.posts }}</strong></li>
			<li>Просмотров: <strong>{{ theme.views }}</strong></li>
			<li>Автор: <strong>{{ theme.author.name }}</strong></li>
		</ul>
		</div>
	  <div class="fornewmess">{{ theme.last_post | adate }}<br />Сообщение от: <span class="lastPostUser">{{ theme.last_user | raw }}</span><br />{{ theme.last_page | raw }}</div></div>
	  {% endfor %}
	</div>
	  {% else %}
	  <div class="informs">Тем еще не создано.</div>
	  {% endif %}
      {% if atm.pagination %}<div class="paginator"><div class="pages">{{ atm.pagination }}</div></div>{% endif %}
	<div style="clear:both;"></div>
	
     <div class="material">
           <div class="inftitle">В этом форуме <b>{{ forum.themes }}</b> тем. На странице показано <b>{{ atm.forum.count_themes_here }}</b> тем.</div>
	       <div class="infcont">Форум просматривают: {{ forum.who_is_here | raw }}</div>
	</div>
	
	<div class="material">
           <div class="inftitle">Иконки состояния тем форума</div>
	       <div class="infcont">
		       <ul class="spisokico">
					<li>
						<span class="siu_title"><img src="{{ atm.template_path }}/img/folder.gif" alt=""/></span>
						<span class="siu_data">Нет непрочитанных сообщений</span>
		            </li>
					<li>
						<span class="siu_title"><img src="{{ atm.template_path }}/img/folder_new.gif" alt=""/></span>
						<span class="siu_data">Непрочитанные сообщения</span>
		            </li>
					<li>
						<span class="siu_title"><img src="{{ atm.template_path }}/img/folder_lock.gif" alt=""/></span>
						<span class="siu_data">Закрытая тема</span>
		            </li>
					<li>
						<span class="siu_title"><img src="{{ atm.template_path }}/img/folder_lock_new.gif" alt=""/></span>
						<span class="siu_data">Закрытая тема с новыми сообщениями</span>
		            </li>
					<li>
						<span class="siu_title"><img src="{{ atm.template_path }}/img/folder_hot.gif" alt=""/></span>
						<span class="siu_data">Горячая тема</span>
		            </li>
					<li>
						<span class="siu_title"><img src="{{ atm.template_path }}/img/folder_hot_new.gif" alt=""/></span>
						<span class="siu_data">Горячая тема с новыми сообщениями</span>
		            </li>
		       </ul>
		   </div>
	</div>
{% endblock %}