<tr>
	<td>
		<img id="fps_captcha" onclick="this.src='{{ atm.www_root | raw }}/sys/inc/kcaptcha/kc.php/?'+Math.round(Math.random(0)*1000)" src="{CAPTCHA}" alt="" />
	</td>
	<td>
		<input type="text" size="10" name="captcha_keystring" />
	</td>
</tr>