{{ atm.editor_body | raw }}
<div class="material">
	   <form method="POST" id="sendForm" name="sendForm" action="{{ atm.context.action }}" onsubmit="sendu(this);return false;">
       <div class="mat-title">Редактирование комментария</div>
	   <div class="mat-content">
          <ul class="spisok-all">
		  {% if atm.user.id == 0 %}
          <li>
            <span class="siu_title"><strong><font color="red">*</font>Псевдоним:</strong></span>
            <span class="siu_data"><input {{ atm.context.disabled }} type="text" name="login" value="{{ atm.context.name }}" /></span>
          </li>
		  {% endif %}
		  <li class="margin" style="overflow:visible;">
            <textarea {{ atm.editor_text | raw }} name="message">{{ atm.context.message }}</textarea>
          </li>
		  <li>
            <input type="submit" name="send" value="Сохранить" />
          </li>
          </ul>
      </div>
	  </form>
</div>