{% extends "main.html.twig" %}

{% block content %}

{% if atm.entities %}
{% for entity in atm.entities %}
<div class="material">
		  <div class="mat-title"><a href="{{ entity.entry_url }}"><h1>{{ entity.title }}</h1></a><div class="mod-panel">{% include "includes/moder_panel.html.twig" %}</div></div>
		  <div class="mat-content">
		    <div class="topinfo">
		        <span class="left">Раздел: {% for index, category in entity.categories %}{% if index > 0 %},{% endif %}<a href="{{ category.url }}">{{ category.title }}</a>{% endfor %}</span>
				<span>Просмотров: {{ entity.views }}</span>
				<span>Комментарии: {{ entity.comments | raw }}</span>
		        <span class="right">Автор: <a href="{{ entity.profile_url }}">{{ entity.author.name }}</a></span>
		    </div>
		    <div class="announce">{{ entity.announce | raw }}</div>
		    <div class="footerinfo">
		       Добавлено: {{ entity.date | adate }}
	       </div>
		 </div>
</div>
{% endfor %}
{% else %}
<div class="informs">
Материалов еще не добавлено.
</div>
{% endif %}

{% endblock %}