{% extends "main.html.twig" %}

{% block content %}

<form name="addNewUserForm" id="sendForm" action="{{ atm.context.action }}" method="POST" enctype="multipart/form-data" onsubmit="sendu(this); return false">
<div class="material">
    <div class="mat-title">Регистрация</div>
    <div class="mat-content">
        <ul class="spisok-all">
        <li>
            <span class="siu_title"><strong><font color="red">*</font>Логин:</strong>Ваш личный псевдоним</span>
            <span class="siu_data"><input type="text" name="login" maxlength="30" value="{{ atm.context.login }}" required /></span>
        </li>
        <li>
            <span class="siu_title"><strong>Полное имя:</strong></span>
            <span class="siu_data"><input type="text" name="full_name" maxlength="255" value="{{ atm.context.full_name }}" /></span>
        </li>
        {% set select_count = 0 %}
        {% for group in users_groups %}
        {% if group.select %}{% set select_count = select_count + 1 %}{% endif %}
        {% endfor %}
        {% if atm.config([module,'allow_select_group']) and select_count > 1 %}
        <li>
            <span class="siu_title"><strong>Группа:</strong></span>
            <span class="siu_data">
                <select name="group">
                    {% for group in users_groups %}
                    {% if group.select %}
                        <option {% if group.default %} selected {% endif %} value="{{ group.id }}">{{ group.title }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </span>
        </li>
        {% endif %}
        <li>
            <span class="siu_title"><strong><font color="red">*</font>Адрес e-mail:</strong></span>
            <span class="siu_data"><input type="text" name="email" maxlength="60" value="{{ atm.context.email }}" required /></span>
        </li>
        <li>
            <span class="siu_title"><strong><font color="red">*</font>Пароль:</strong></span>
            <span class="siu_data"><input type="password" name="password" maxlength="30" value="" required /></span>
        </li>
        <li>
            <span class="siu_title"><strong><font color="red">*</font>Подтвердите пароль:</strong></span>
            <span class="siu_data"><input type="password" name="confirm" maxlength="30" value="" required /></span>
        </li>
        <li>
            <span class="siu_title"><strong>Пол:</strong></span>
            <span class="siu_data">
                  Мужской<input type="radio" name="pol" value="1"{{ atm.context.mpol }} />
                  Женский<input type="radio" name="pol" value="2"{{ atm.context.fpol }} />
            </span>
        </li>
        <li>
            <span class="siu_title"><strong>Дата рождения:</strong>(день;месяц;год)</span>
            <span class="siu_data"> 
                <select name="bday">{{ atm.context.bday_selector | raw }}</select>
                <select name="bmonth">{{ atm.context.bmonth_selector | raw }}</select>
                <select name="byear">{{ atm.context.byears_selector | raw }}</select>    
            </span>
        </li>
        <li>
            <span class="siu_title"><strong><font color="red">*</font>Код подтверждения:</strong>Введите код с картинки, для проверки. что вы не робот.</span>
            <span class="siu_data">
            <span id="captcha"><img onclick="this.src='{{ atm.www_root | raw }}/sys/inc/kcaptcha/kc.php/?'+Math.round(Math.random(0)*1000)" src="{{ atm.context.captcha }}" alt="" /></span>
            <br /><input type="text" name="keystring" maxlength="6" value="{{ atm.context.keystring }}" required /></span>
        </li> 
        <li>
            <input type="submit" name="submitForm" value="Зарегистрироваться" />
        </li> 
        </ul>
    </div>
</div>
</form>
{% endblock %}