{% extends "main.html.twig" %}

{% block content %}

<div class="material">
	  <div class="mat-title"><h1>Список пользователей</h1></div>
	  <div class="mat-content">

        <div class="userlistsortirovka">
		Сортировать по:
            <ul>
                   <li>{{ atm.getOrderLink(['name','Имя']) | raw }}</li>
		           <li>{{ atm.getOrderLink(['puttime','Дата регистрации']) }}</li>
                   <li>{{ atm.getOrderLink(['last_visit','Последний визит']) }}</li>
                   <li>{{ atm.getOrderLink(['status','Группа']) | raw }}</li>
				   <li>{{ atm.getOrderLink(['rating','Репутация']) | raw }}</li>
                   <li>{{ atm.getOrderLink(['warnings','Предупреждения']) | raw }}</li>
                   <li>{{ atm.getOrderLink(['ban_expire','Блокировка']) | raw }}</li>
            </ul>
        </div>

         <ul class="userlist">
		     {% if atm.entities %}
             {% for user in atm.entities %}
                            <li>
							       <div class="userlistavatar"><img src="{{ atm.getAvatar(user.id) }}" class="avatar" alt=""/></div>
							        <div class="listuser">
								          <ul class="listuserbuttons">
									          {% if atm.checkAccess([atm.module, 'view_users']) %}<li><a href="{{ atm.www_root | raw }}/users/info/{{ user.id }}" class="button2">Профиль</a></li>{% endif %}
                                              {% if atm.user.id %}
											  {% if atm.user.id != user.id %}
											  <li><a href="{{ atm.www_root | raw }}/users/pm_view/{{ user.id }}" class="button2">Отправить ЛС</a></li>
											  {% else %}
											  <li><a href="{{ atm.www_root | raw }}/users/pm/" class="button2">Сообщения</a></li>
											  {% endif %}
											  {% endif %}
                                              {% if atm.user.id and atm.checkAccess([atm.module, 'edit_users']) %}<li><a href="{{ atm.www_root | raw }}/users/edit_form_by_admin/{{ user.id }}" class="button2">Изменить профиль</a></li>{% endif %}									
								          </ul>
								          <h3 class="userlisttitle"><a href="{{ atm.www_root | raw }}/users/info/{{ user.id }}">{{ user.name }}</a></h3>
										   {% if user.rating %}
				                              {% if user.rating >= 1 %}
											  <p class="listreputation" style="background-color: #780;"><span>{{ user.rating }}</span></p>
				        	                  {% else %}
											  <p class="listreputation" style="background-color: #C54C4C;"><span>{{ user.rating }}</span></p>
					                          {% endif %}
				                           {% else %}
										       <p class="listreputation" style="background-color: #999;"><span>{{ user.rating }}</span></p>
                                           {% endif %}
								          <div>
								               <span>
                                              {% if user.baned %}
                                                    <s style="color:{{ user.group_color }}">{{ user.group }}</s>(Блок сойдет {{ user.baned | adate }})
                                              {% else %}
                                                    <span style="color:{{ user.group_color }}">{{ user.group }}</span>
                                              {% endif %}
                                               </span><span>{{ user.posts }} сообщений</span><span><b>Регистрация:</b>  {{ user.puttime | adate }}</span><span><b>Последний визит:</b> {{ user.last_visit | adate }}</span>
								          </div>
							        </div>
                            </li>
			{% endfor %}
            {% endif %}
         </ul>
		 
        <div class="userlistsortirovka">
		Сортировать по:
            <ul>
                   <li>{{ atm.getOrderLink(['name','Имя']) | raw }}</li>
		           <li>{{ atm.getOrderLink(['puttime','Дата регистрации']) }}</li>
                   <li>{{ atm.getOrderLink(['last_visit','Последний визит']) }}</li>
                   <li>{{ atm.getOrderLink(['status','Группа']) | raw }}</li>
				   <li>{{ atm.getOrderLink(['rating','Репутация']) | raw }}</li>
                   <li>{{ atm.getOrderLink(['warnings','Предупреждения']) | raw }}</li>
                   <li>{{ atm.getOrderLink(['ban_expire','Блокировка']) | raw }}</li>
            </ul>
        </div>
		
      </div>
</div>
{% endblock %}