{% extends "main.html.twig" %}

{% block content %}

<div class="material">
	  <div class="mat-title">Почтовый ящик(Список переписок)</div>
	  <div class="mat-content">
	  <div class="userblock">
		  <ul class="userslinks">
		         <li><a href="{{ atm.www_root | raw }}/users/info/{{ atm.user.id }}">Мой профиль</a></li>
                 <li class="active"><a href="{{ atm.www_root | raw }}/users/pm/">Сообщения</a></li>
		  </ul>
	      <div class="userinfo">
		    <ul class="userlist">
		     {% if atm.messages %}
             {% for message in atm.messages %}
                            <li {% if message.viewed != 1 %}class="send"{% endif %}>
							       <div class="userlistavatar" onclick="location.href='{{ atm.www_root | raw }}/users/pm_view/{{ message.user.id }}'"><img src="{{ atm.getAvatar(message.user.id) }}" class="avatar" alt=""/></div>
							        <div class="listuser">
								          <ul class="listuserbuttons">
									          <li><a href="{{ atm.www_root | raw }}/users/info/{{ message.user.id }}" class="button2">Профиль собеседника</a></li>
                                              <li>{{ message.delete | raw }}<input type="checkbox" class="packPoint" onClick="if(this.checked){addToPackage(this.value);}else{delFromPackage(this.value);}" value="{{ message.user.id }}" /></li>									
								          </ul>
								          <h3 class="userlisttitle"><a href="{{ atm.www_root | raw }}/users/pm_view/{{ message.user.id }}">{{ message.user.name }}</a>
										  <span style="color:{% if message.from_user != user.id %}blue;">&rArr;{% else %}red;">&lArr;{% endif %}</span>
										  </h3>
										  <div class="text" onclick="location.href='{{ atm.www_root | raw }}/users/pm_view/{{ message.user.id }}'" style="cursor: pointer;">
			                                {{ message.text | raw }}
		                                  </div>
								          <div>
								               <span>Последнее обновление: {{ message.sendtime | adate }}</span>
								          </div>
							        </div>
                            </li>
			{% endfor %}
            {% endif %}
	           <li>	
			     Удалить отмеченные сообщения: <input id="packButton" type="button" disabled="disabled" onClick="sendPack('{{ atm.www_root | raw }}/users/delete_messages_user/');" value="(0)">
	             <div style="display:none;"><form id="actionPack" name="actionPack" action="" method="POST" onsubmit="sendu('actionPack');return false;"></form></div>
	           <li>
           </ul>	
	      </div>
	  </div>
    </div>
	</div>
{% endblock %}
