<!doctype html>
<html>
<head>
<title>{{ atm.title }}</title>

<meta name="description" content="{{ atm.meta_description }}" />
<meta name="keywords" content="{{ atm.meta_keywords }}" />
<meta charset="UTF-8"/>

<meta name='author' content='Andrey Brykin' />
<meta name='robots' content='index, follow' />
<meta name='rating' content='general' />
<meta name='generator' content='Atom-M CMS' />

<link rel="shortcut icon" href="{{ atm.template_path }}/favicon.ico" type="image/x-icon" />
<link rel="icon" type="image/png" href="{{ atm.template_path }}/img/favicon-96.png" sizes="96x96">
<link rel="icon" type="image/png" href="{{ atm.template_path }}/img/favicon-228.png" sizes="228x228">
<link rel="apple-touch-icon" href="{{ atm.template_path }}/img/favicon-152.png" />
{% if page_prev %}<link rel="prev" href="{{ page_prev }}">{% endif %}
{% if page_next %}<link rel="next" href="{{ page_next }}">{% endif %}

<script type="text/javascript">
	var WWW_ROOT = "{{ atm.www_root | raw }}", LANG = "{{ lang }}";
</script>
{% include 'default/atm_css_js.html.twig' %}
{{ atm.editor_head | raw }}
{% if atm.user.id %}
<script type="text/javascript">
    check_pm();
</script>
{% endif %}
</head>


<body>
{% include 'includes/headpanel.html.twig' %}
<div class="global">
{% include 'includes/header.html.twig' %}

<div class="sider">
    <div class="sidertop bigmenu">
		{{ atm.mainmenu | raw }}
		{% if atm.config(['search','active']) %}
		<div class="search">
			<form method="POST" action="{{ atm.www_root | raw }}/search/"> 
				<input type="hidden" name="subaction" value="search"> 
				<input name="search" placeholder="Найти что-нибудь..." type="text"> 
				<input value="GO!" type="submit" name="send"> 
			</form>
		</div>
		{% endif %}
	</div>
	<!---------------------------------------------------------------------------CONTENT/----------------------------------------------------------------------------------------------->
    <div class="content">
<div class="spedbar">
    <div>
        <div>{{ atm.navigation | raw }}</div>
    </div>
</div>
{% if atm.pagination %}<div class="paginator">{{ meta }}<div class="pages">{{ atm.pagination }}</div></div>{% endif %}
{% if atm.add_link %}<a href="{{ atm.www_root | raw }}/{{ atm.module }}/add_form/" class="lastpostsbutton button">Добавить материал</a>{% endif %}
<div style="clear:both;"></div>
<div class="cleartwoblocks">
<div class="materials">
		{% block content %}{% endblock %}
        
        
</div>
<div class="rightbloks">
		{{ popmat }}
	    {{ last_comments | raw }}
	    {{ users_rating }}
	    <div class="block">
		  <div class="blockstop">Сайты на Atom-M CMS</div>
		  <div class="blokscontent">
		  <ul class="mini_list">
		     <li><img src="//atom-m.net/favicon.ico" height="16" width="16" alt=""/><a href="//atom-m.net" title="Презентационная страница AtomM CMS" rel="nofollow">Презентационная страница Atom-M</a></li>
			 <li><img src="//dev.atom-m.net/favicon.ico" height="16" width="16" alt=""/><a href="//dev.atom-m.net" title="Сайт разработчиков Atom-M" rel="nofollow">Портал разработчиков Atom-M</a></li>
			 <li><img src="//modos189.ru/favicon.ico" height="16" width="16" alt=""/><a href="//modos189.ru" title="Просто блог" rel="nofollow">Блог modos189</a></li>
		     <li><img src="//doweb.pw/template/doweb/img/favicon.ico" height="16" width="16" alt=""/><a href="//doweb.pw" title="Сообщество оптимизаторов и вебмастеров" rel="nofollow">Сообщество вебмастеров</a></li>
		  </ul>
		  </div>
		</div>
</div>
</div>
	{% if atm.pagination %}<div class="paginator"><div class="pages">{{ atm.pagination }}</div></div>{% endif %}
	{% if atm.config(['statistics','active']) %}
	<div class="material">
		<div class="inftitle">Сейчас online: {{ atm.all_online }}. Зарегистрированных: {{ atm.users_online }}. Гостей: {{ atm.guests_online }}. </div>
		<div class="infcont">{{ online_users_list }}</div>
	</div>
	{% endif %}
	</div>
	<!---------------------------------------------------------------------------/CONTENT----------------------------------------------------------------------------------------------->
</div>
<!--------------------------------------------------------CHAT----------------------------------------------------------------------------------------------------------------------------->
{% if atm.chat %}
{% include 'includes/minichat.html.twig' %}
{% endif %}
<!--------------------------------------------------------FOOTER-BUTTONS------------------------------------------------------------------>
{% include 'includes/footer.html.twig' %}
</div>
</body>
</html>