<!doctype html>
<html>
<head>
<title>{{ atm.title }}</title>

<meta name="description" content="{{ atm.meta_description }}" />
<meta name="keywords" content="{{ atm.meta_keywords }}" />
<meta charset="UTF-8"/>

<meta name='generator' content='Atom-M CMS' />

<link rel="shortcut icon" href="{{ atm.template_path }}/favicon.ico" type="image/x-icon" />
<link rel="apple-touch-icon" href="{{ atm.template_path }}/img/apple-touch-icon.png" />

<script type="text/javascript">
	var WWW_ROOT = "{{ atm.www_root | raw }}", LANG = "{{ lang }}";
</script>
{% include 'default/atm_css_js.html.twig' %}
{% if atm.user.id %}
<script type="text/javascript">
    check_pm();
</script>
{% endif %}
</head>


<body>
{% include 'includes/headpanel.html.twig' %}
<div class="global">
{% include 'includes/header.html.twig' %}
<div class="sider">
    <div class="sidertop bigmenu">
		{{ atm.mainmenu | raw }}
		{% if atm.config(['search','active']) %}
		<div class="search">
			<form method="POST" action="{{ atm.www_root | raw }}/search/"> 
				<input type="hidden" name="subaction" value="search"> 
				<input name="search" placeholder="Найти что-нибудь..." type="text"> 
				<input value="GO!" type="submit" name="send"> 
			</form>
		</div>
		{% endif %}
    </div>
    <!---------------------------------------------------------------------------CONTENT/----------------------------------------------------------------------------------------------->
    <div class="content">
<div class="spedbar">
    <div>
        {{ atm.navigation | raw }}
    </div>
</div>

<div class="material">
      <div class="mat-title"><span id="switchsound"></span><h1>Общий чат</h1></div>
      <div class="mat-content">
      {% block content %}{% endblock %}
      </div>
</div>
<style type="text/css">
#bigformlink {display:none;}
.scrollBox {padding: 10px 8%;background: rgba(255, 224, 0, 0.08);border-bottom: 1px solid #bbb;}
#chatModule {min-height: 100px;}
#chat {height: 320px;}
#chat .block_chat {padding: 10px!important;font-size: 16px!important;}
#chat .mess {padding-top: 10px!important;font-size: 14px!important;}
.chat-addfrom .chat_captcha {white-space: normal;height: auto;margin: 18px;padding: 0;width: 122px;text-align: center;}
.chat-addfrom .chat_captcha input {display: block;margin: 3px -3px 10px;width: 120px;}
.chat-addfrom input[type="submit"] {margin: 0 10px;}
#chat .jspVerticalBar {width: 15px;}
</style>

	{% if atm.config(['statistics','active']) %}
	<div class="material">
		<div class="inftitle">Сейчас online: {{ atm.all_online }}. Зарегистрированных: {{ atm.users_online }}. Гостей: {{ atm.guests_online }}. </div>
		<div class="infcont">{{ online_users_list }}</div>
	</div>
	{% endif %}
    </div>
    <!---------------------------------------------------------------------------/CONTENT----------------------------------------------------------------------------------------------->
</div>
<!--------------------------------------------------------FOOTER-BUTTONS------------------------------------------------------------------>
{% include 'includes/footer.html.twig' %}
</div>
</body>
</html>
