<div class="headpanel">
 <div class="linksap">
{% if langs %}
<div class="activewindow">
    <a href="#">Язык</a>
    <div class="lang" style="width: 62px;min-height:55px;">
    {% for id,name in langs %}
        <a href="{{ atm.www_root | raw }}/{{ name }}"{% if lang == name %} class="select"{% endif %}>{{ name }}</a>
    {% endfor %}
    </div>
    <script>
        $(function(){
        var path = window.location.pathname.replace(/({{ www_root | replace({'/': '\\/'}) }}(\/({{ langs|join('|') }}))*)/ig, '');

        {% for i,name in langs %}
            $('.lang a:eq({{ i }})').attr('href', $('.lang a:eq({{ i }})').attr('href') + path + window.location.search);
        {% endfor %}
        });
    </script>
</div>
{% endif %}
<div><a href="http://dev.atom-m.net/" rel="nofollow">Оф. сайт</a></div>
<div><a href="https://bitbucket.org/atom-m/cms" rel="nofollow">Bitbucket</a></div>
<div><a href="http://dev.atom-m.net/forum/" rel="nofollow">Поддержка</a></div></div>
 <div class="userlinksap">
{% if atm.user.id %}
<div><a href="{{ atm.www_root | raw }}/users/pm/">Сообщения</a></div>
<div class="activewindow"><a href="{{ atm.user.profile }}">{{ atm.user.name }}</a><div class="miniprofileadm" style="width: 300px;padding: 10px;">
    <span class="avatarminpro"><img class="avatar" src="{{ atm.user.avatar_url }}" alt=""/></span>
    <span class="uslinkminpro">
        <a href="{{ atm.user.profile }}">Мой профиль</a>
		<a href="{{ atm.www_root | raw }}/users/edit_form/">Настройки</a>
        {% if atm.admin_access == 1 %}
		<a href="{{ atm.www_root | raw }}/admin/" target="_blank">Админка</a>
		{% endif %}
    </span>
</div></div>
<div><a href="{{ atm.www_root | raw }}/users/logout">Выход</a></div>
{% else %}
<div class="ulogin">{{ ulogin }}</div>
<div><a href="{{ atm.www_root | raw }}/users/add_form">Регистрация</a></div>
<div class="activewindow"><a href="{{ atm.www_root | raw }}/users/login_form/">Войти</a>
<div style="width: 250px;"><span>
<form id="mloginForm" name="mloginForm" action="{{ atm.www_root | raw }}/users/login/" onsubmit="sendu('mloginForm'); return false" method="post">
    Логин: <input type="text" class="loginad" name="username">
    Пароль: <input type="password" class="passad" name="password">
    Автовход: <input type="checkbox" name="autologin" value="1">
    <button type="submit" class="buttonadm">ВОЙТИ</button>
    <input type="hidden" value="submit" name="submitForm">
</form>
</span></div></div>
{% endif %}
<div><a href="{{ atm.www_root | raw }}/users/">Пользователи</a></div>
 </div>
</div>
